
nav.navigation-main{
	margin-top:20px;
}

.navigation-main,
nav.navigation-main ul.navigation--list{
	background-color:#C3582A;
}

.navigation-main .navigation--link{
	color:#ffffff;
	text-transform:uppercase;
}

.navigation-main .navigation--link:hover{
	color:#CDCDCD;
}

.navigation-main .is--active .navigation--link{
	border-radius:0px;
}

.navigation-main .is--active .navigation--link{
	background-image:none;
}

.shop--navigation .navigation--entry .btn{
	border-radius:0px;
	border:0px;
	background-image:none;
}

.shop--navigation .navigation--entry .btn,
.icon--search{
	color:#C3582A;
	transition-duration:.4s;
}

.shop--navigation .navigation--entry .btn:hover{
	color:#333333;
}

.header-main .top-bar{
	display:none;
}

body{
	background-color:#ffffff;
}

.entry--search .main-search--form .main-search--field{
	background-color:#ffffff;
}


#markenlogos {
    background-color: #fafafa;
    background-image: url(../img/benefits_big.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1172px auto;
    width: 100%;
    /* height: 67px; */
    height: 100px;
	margin-bottom:20px;
	display:none;
}

@media screen and (min-width:1200px)
{
	#markenlogos {
		display:block;
		position: absolute;
		left: 0px;
		margin-top: -100px;
	}

	footer.footer-main {
		padding-top:100px;
	}

}


@media screen and (min-width: 78.75em)
{
	.content-main {
		margin-top:20px;
		margin-bottom:20px;
	}

	.container.header--navigation{
		padding-top:40px;
	}
	
	body.is--ctl-checkout .container.header--navigation {
		padding-top: 40px;
	}

}

@media screen and (min-width: 48em)
{
	.navigation-main {
		border:0px;
	}
}


.hero-unit.category--teaser.panel{
	border: 1px solid #C3582A;
	border-radius: 0px;
	padding: 0px 20px;
}

.hero-unit.category--teaser.panel h1 {
	border-bottom: 1px solid #C3582A;
	margin:0px;
}

.hero-unit.category--teaser.panel .hero--text{
	margin:0px;
}

li.entry--cart span.badge{
	border: 2px solid #ffffff;
}

.box--content .product--info .product--actions{
	display:none;
}

.product--box .box--content{
	transition-duration:1s;
}

.product--box .box--content:hover{
	border-color:#C3582A;
}

.product--details .product--buybox .content--discount{
	display:block;
}


/* Startseite start */
body.is--ctl-index .content-main--inner{
	padding:0px;
}


body.is--ctl-index .content--home{
	margin-top:0px;
}

body.is--ctl-index .emotion--wrapper{
	max-width:100%;
}

body.is--ctl-index .emotion--html.panel.has--border
{
	border:0px;
}

.account--dropdown-navigation .navigation--signin .navigation--signin-btn.btn{
	color:#ffffff;
}

/* Startseite end */




.smartzoom .emotion--banner .banner--content img{
  -webkit-transition: all .3s ease-out;
  transition: all .25s ease-out;

  	width:310px;
	height:360px;
}

.smartzoom .emotion--banner .banner--content {
  overflow:hidden;
	height:360px;
}

.smartzoom .emotion--banner .banner--content:hover img{
	max-width:110%;
	max-height:110%;
	width:340px;
	height:390px;
	margin-top:-15px;
	margin-left:-15px;
}


body.is--ctl-listing .panel--title.is--underline {
    color: #C3582A;
    font-size: 160%;
	border-bottom: 1px solid #C3582A;
}

body.is--ctl-listing .content--emotions p{
	color: #C3582A;
}

body.is--ctl-listing .content--emotions .panel.has--border {
    border: 1px solid #C3582A;
}

#header-benefits{
	max-width:1260px;
	position:relative;
	margin:0px auto;
	display:none;
}

#header-benefits img{
	padding-left:32%;
}

.logo-main.block-group{
	margin-top:0px;
}

@media screen and (min-width:768px)
{
	#header-benefits{
		display:block;
	}

	body:not(.is--target-checkout) .logo-main.block-group{
		margin-top:-25px;
	}
}

@media screen and (min-width: 78.75em)
{
	.container.header--navigation {
		padding-top: 10px;
	}
}

nav.navigation-main {
    margin-top: 0px;
}


.hero-unit.category--teaser.panel h1, .hero-unit.category--teaser.panel .hero--text{
	color:#C3582A;
	padding: 20px 0px;
}




@media screen and (min-width: 768px)
{
	.header-main .logo-main .logo--link {
		height: 4.125rem;
	}
	body:not(.is--target-checkout) .logo-main.block-group {
		margin-top: -40px;
	}
}


body{
	background-color:#ffffff;
	background-image: url(../img/tea-background_2.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
}


.product--details .content--title{
	margin-bottom:40px;
	color:#C3582A;
}

@media screen and (min-width: 64em)
{
	.product--details .product--properties {
		width: 100%;
	}
}

.footer-main .column--headline{
	color:#C3582A;
}

body.is--ctl-listing .emotion--html.panel .panel--body.is--wide{
	padding:20px 0px;
}


body.is--ctl-listing .content--emotions .panel.has--border {
	border:0px;
}